<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="generator" content=
  "HTML Tidy for HTML5 for Linux version 5.7.45">
  <meta name="description" content=
  "Browse and view local code files with ease.">
  <title>{{.Title}} (File) | {{.Tag}}</title>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');
    
    body {
      background-color: #0c1a24;
      margin: 0;
      font-family: Arial, sans-serif;
      color: #ecf0f1;
    }

    main {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 1rem;
    }

    section#code_d pre > code {
      font-family: "Fira Code", monospace;
      font-optical-sizing: auto;
      font-style: normal;
      padding: 4px;
    }

    section#code_d pre {
      white-space: pre-wrap;
      word-wrap: break-word;
      border-radius: 6px;
      border: 1px solid #082437;
      width: 90%;
      background-color: #1e2a35;
      color: #ecf0f1;
    }

    section#code_d {
      width: 90%;
    }

    #navbar_d {
      background-color: #2c3e50;
      color: #ecf0f1;
      padding: 0.5rem 1rem;
      border-radius: 4px;
      margin: 1rem;
      font-size: 1.4rem;
    }

    #navbar_d a {
      color: #1abc9c;
      text-decoration: none;
      padding: 0 0.5rem;
    }

    #navbar_d a:hover {
      text-decoration: underline;
    }

    #navbar_d span {
      color: #bdc3c7;
    }

  .no_lang {
  color: grey;
  font-style: italic;
  }

    section#media_d {
      width: 90%;
      max-width: 1200px;
      margin: 1rem auto;
      text-align: center;
    }

    img, video, audio {
      max-width: 100%;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0,0,0,0.3);
        border: 2px solid #40a944;
  padding: 0.3rem;
  background-color: #2c3e50;
    }

    video, audio {
      margin: 0.5rem;
    }

    audio {
      width: 100%;
    }

    #file_meta p {
      color: #bdc3c7;
      font-size: 1.2rem;
      margin: 0;
    }
  </style>
</head>
<body>
  {{template "header" .}}
  <section id="navbar_d">
    {{.Navbar}}
  </section>
  <main>
    {{if .Text }}
    <section id="file_meta">
      <p>{{.Language}} · {{.Size}} · {{.Lines}} {{if eq .Lines
      1}}line{{else}}lines{{end}}</p>
    </section>
    <section id="code_d">
      {{.Content}}
    </section>{{else}}
    <section id="media_d">
      {{.Media}}
    </section>{{end}}
  </main>
</body>
</html>
